root/.bash_history
root/.aptitude
var/lib/aptitude
usr/share/keyrings
var/lib/apt
var/lib/dpkg/*-old
var/log
var/lock
usr/share/info
var/cache/man/
var/cache/fontconfig/
var/cache/ldconfig/
var/cache/dictionaries-common
var/cache/apt/
var/cache/debconf/*-old
var/tmp
usr/share/locale
usr/share/lintian
usr/share/man
usr/share/doc
usr/share/doc-base
usr/share/iceweasel/distribution/
etc/apt/trusted.gpg~
etc/group-
etc/passwd-
etc/shadow-
etc/gshadow-
proc
usr/include
sys
dev
run
etc/ld.so.cache
*.swp
root/.lesshst
usr/share/bug
usr/share/fonts/X11
*~
etc/ssh/
var/lib/systemd/coredump/
var/cache
var/lib/systemd/random-seed
usr/share/licenses/
usr/share/gtk-doc/
usr/share/bash-completion
root/.Xauthority
bootfat
tmp
etc/machine-id
