*.swp
*~
bootfat
dev
etc/apt/trusted.gpg~
etc/group-
etc/gshadow-
etc/ld.so.cache
etc/localtime
etc/machine-id
etc/passwd-
etc/shadow-
etc/ssh/
etc/webc/cmdline
proc
root/.Xauthority
root/.aptitude
root/.bash_history
root/.cache/
root/.lesshst
root/.vim*
run
sys
tmp
usr/include
usr/share/bash-completion
usr/share/bug
usr/share/doc
usr/share/doc-base
usr/share/fish
usr/share/fonts/X11
usr/share/gtk-doc/
usr/share/iceweasel/distribution/
usr/share/info
usr/share/keyrings
usr/share/licenses/
usr/share/lintian
usr/share/locale
usr/share/man
var/cache
var/cache/apt/
var/cache/debconf/*-old
var/cache/dictionaries-common
var/cache/fontconfig/
var/cache/ldconfig/
var/cache/man/
var/lib/apt
var/lib/aptitude
var/lib/dpkg/*-old
var/lib/logrotate.status
var/lib/systemd/coredump/
var/lib/systemd/random-seed
var/lock
var/log
var/tmp
