[Unit]
Description=Upgrade
After=graphical.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/webc-upgrade
Restart=on-failure
RestartSec=30

[Install]
WantedBy=default.target
